@charset "utf-8";
/* CSS Document */
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
B {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
:focus {
	OUTLINE-WIDTH: 0px
}
IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
IFRAME {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
IMG {
	VERTICAL-ALIGN: middle
}
INPUT {
	VERTICAL-ALIGN: middle
}
LABEL {
	VERTICAL-ALIGN: middle
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
BODY {
	FONT: 12px/1.5 Arial,Tahoma,Helvetica,sans-serif
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	ZOOM: 1
}
.center {
	MARGIN: 0px auto; WIDTH: 990px
}
.left {
	WIDTH: 220px; FLOAT: left
}
.right {
	WIDTH: 765px; FLOAT: right
}
#header {
	MARGIN-BOTTOM: 5px
}
.usrbar {
	BORDER-BOTTOM: #dee7f2 1px solid; FILTER: alpha(opacity=70); LINE-HEIGHT: 22px; BACKGROUND: #fff; HEIGHT: 22px; FONT-SIZE: 13px
}
.usrbar A:link {
	COLOR: #666
}
.usrbar A:visited {
	COLOR: #666
}
.usrbar_bg {
	Z-INDEX: -1; POSITION: absolute; WIDTH: 100%; HEIGHT: 22px; TOP: 0px; LEFT: 0px
}
.forecaset {
	POSITION: relative; FLOAT: left
}
.tool_box {
	POSITION: relative; FLOAT: right
}
.tool_box A.set_home {
	LINE-HEIGHT: 21px; PADDING-LEFT: 18px; DISPLAY: inline-block; BACKGROUND: url(images/bg.gif) no-repeat -84px 2px; HEIGHT: 21px; COLOR: #666
}
.mail {
	BORDER-BOTTOM: #6dba2b 3px solid; MARGIN-BOTTOM: 4px; HEIGHT: 70px
}
.mail TABLE {
	HEIGHT: 100%
}
.mail .hao123_logo {
	WIDTH: 250px
}
#div1 {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; WIDTH: 260px; PADDING-RIGHT: 20px; HEIGHT: 600px; PADDING-TOP: 20px
}
HTML > BODY #div1 {
	BACKGROUND-IMAGE: url(bj1.png)
}
.mail_box {
	WIDTH: 220px
}
.mail_box UL {
	MARGIN-TOP: 0px !important
}
.mail_box LABEL {
	MARGIN-RIGHT: 5px
}
.mail_box INPUT {
	FILTER: alpha(opacity=80); LINE-HEIGHT: 18px !important; MARGIN: 2px 0px; WIDTH: 168px; BACKGROUND: #fff; HEIGHT: 18px !important; VERTICAL-ALIGN: middle
}
.mail_box .select {
	LINE-HEIGHT: 17px !important; DISPLAY: inline-block; BACKGROUND: #fff; HEIGHT: 17px !important; VERTICAL-ALIGN: middle; OVERFLOW: hidden
}
.mail_box .usn {
	MARGIN-TOP: -1px !important
}
.mail_box .select {
	MARGIN-TOP: -1px !important
}
.mail_box SELECT {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; MARGIN: -3px -1px 0px -2px; WIDTH: 172px; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; VERTICAL-ALIGN: middle; BORDER-LEFT-STYLE: none
}
.mail_box .psd {
	MARGIN-TOP: -1px
}
.mail_box .psd BUTTON {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; PADDING-LEFT: 0px; WIDTH: 44px; PADDING-RIGHT: 0px; HEIGHT: 20px; MARGIN-LEFT: 1px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.mail_box .psd INPUT {
	WIDTH: 123px
}
.mail_box INPUT {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; PADDING-TOP: 0px !important
}
.mail_box .select {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 0px !important; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; PADDING-TOP: 0px !important
}
.mail_box INPUT {
	PADDING-LEFT: 1px !important
}
.ns {
	Z-INDEX: 100; POSITION: relative; BOTTOM: -4px; HEIGHT: 25px
}
.ns UL {
	PADDING-LEFT: 88px
}
.ns LI {
	HEIGHT: 25px
}
LI.tab_item {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 54px; BACKGROUND: url(images/bg.gif) no-repeat -6px -27px; FLOAT: left; FONT-SIZE: 13px; CURSOR: pointer; MARGIN-RIGHT: 3px
}
LI.tab_cur {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; WIDTH: 54px; BACKGROUND: url(images/bg.gif) no-repeat -6px -27px; FLOAT: left; FONT-SIZE: 13px; CURSOR: pointer; MARGIN-RIGHT: 3px
}
LI.tab_cur {
	BACKGROUND-POSITION: -6px 0px; COLOR: #fff; FONT-WEIGHT: 600
}
LI.tab_more {
	FLOAT: left
}
LI.tab_more DIV {
	POSITION: relative
}
.sch {
	TEXT-ALIGN: left; WIDTH: 100%; HEIGHT: 45px
}
.sch TR {
	BACKGROUND: url(images/bg.gif) repeat-x 0px -55px
}
.sch .first_td {
	WIDTH: 3px; BACKGROUND: url(images/bg.gif) no-repeat 0px 0px
}
.sch .last_td {
	WIDTH: 3px; BACKGROUND: url(images/bg.gif) no-repeat 0px 0px
}
.sch .first_td {
	BACKGROUND-POSITION: -80px 0px
}
.sch INPUT {
	BORDER-BOTTOM: #a2a2a2 1px solid; BORDER-LEFT: #a2a2a2 1px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: 21px; PADDING-LEFT: 2px; WIDTH: 353px; PADDING-RIGHT: 2px; BACKGROUND: url(images/bg.gif) #fff repeat-x 0px -100px; HEIGHT: 21px; FONT-SIZE: 16px; BORDER-TOP: #a2a2a2 1px solid; BORDER-RIGHT: #a2a2a2 1px solid; PADDING-TOP: 3px
}
.sch BUTTON {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 93px; PADDING-RIGHT: 0px; HEIGHT: 31px; PADDING-TOP: 0px
}
.left .box_outer {
	BORDER-BOTTOM: #6dba2b 1px solid; BORDER-LEFT: #6dba2b 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #e6f4d0; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #6dba2b 1px solid; BORDER-RIGHT: #6dba2b 1px solid; PADDING-TOP: 2px
}
.bottom .box_outer {
	BORDER-BOTTOM: #6dba2b 1px solid; BORDER-LEFT: #6dba2b 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #e6f4d0; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #6dba2b 1px solid; BORDER-RIGHT: #6dba2b 1px solid; PADDING-TOP: 2px
}
.left .box_body {
	PADDING-BOTTOM: 14px; BACKGROUND-COLOR: #fafff3; PADDING-LEFT: 12px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.left TABLE {
	MARGIN-BOTTOM: 14px
}
.left TH {
	TEXT-ALIGN: left; WIDTH: 50px; HEIGHT: 30px
}
.left TD {
	TEXT-ALIGN: left; WIDTH: 50px; HEIGHT: 30px
}
.left TH {
	WIDTH: 100%
}
.t_color {
	COLOR: #58a119
}
.left TH A:link {
	COLOR: #58a119
}
.left TH A:visited {
	COLOR: #58a119
}
.left .last_table {
	MARGIN-BOTTOM: 0px
}
.sch BUTTON {
	FONT-SIZE: 14px
}
.left TH {
	FONT-SIZE: 14px
}
.left TD {
	FONT-SIZE: 14px
}
.hot TABLE {
	FONT-SIZE: 14px
}
.right .box_outer {
	BORDER-BOTTOM: #6dba2b 2px solid; BORDER-LEFT: #6dba2b 2px solid; BACKGROUND-COLOR: #fefefb; BORDER-TOP: #6dba2b 2px solid; BORDER-RIGHT: #6dba2b 2px solid
}
.hot TABLE {
	TEXT-ALIGN: center; WIDTH: 100%; HEIGHT: 210px
}
.middle {
	TEXT-ALIGN: center; LINE-HEIGHT: 19px; HEIGHT: 19px; FONT-SIZE: 12px
}
.middle A:link {
	COLOR: #3b5998
}
.middle A:visited {
	COLOR: #3b5998
}
.sort TABLE {
	TEXT-ALIGN: center; WIDTH: 100%; HEIGHT: 550px
}
.sort TH {
	FONT-SIZE: 13px
}
.sort TD {
	FONT-SIZE: 13px
}
.sort TH {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
.sort B {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
.sort TD A {
	ZOOM: 1; MARGIN-LEFT: 20px
}
.sort .s_widen A {
	MARGIN-LEFT: 28px
}
.sort .s_big_widen A {
	MARGIN-LEFT: 35px
}
.sort TH A {
	MARGIN: 0px
}
.sort B A {
	MARGIN: 0px
}
.sort TH A:link {
	COLOR: #874604
}
.sort TH A:visited {
	COLOR: #874604
}
.sort .bg1 {
	BACKGROUND: #fefefb
}
.sort .bg2 {
	BACKGROUND: #f5fceb
}
.bottom {
	MARGIN-TOP: 5px
}
.bottom .box_body {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #fafff3; PADDING-LEFT: 18px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.bottom P {
	LINE-HEIGHT: 24px; HEIGHT: 24px; FONT-SIZE: 13px
}
.bottom A {
	ZOOM: 1
}
.bottom A:link {
	COLOR: #205001
}
.bottom A:visited {
	COLOR: #205001
}
.bottom .pa1 A {
	MARGIN-RIGHT: 17px
}
.bottom .pa2 A {
	MARGIN-RIGHT: 17px
}
.bottom .pa3 A {
	MARGIN-RIGHT: 15px
}
.bottom .pa1 B A {
	MARGIN: 0px
}
.bottom .pa2 B A {
	MARGIN: 0px
}
.bottom .pa3 B A {
	MARGIN: 0px
}
#footer {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; MARGIN: 12px 0px; HEIGHT: 24px; COLOR: #cacaca; FONT-SIZE: 13px
}
#footer A {
	ZOOM: 1; FONT-FAMILY: SimSun; MARGIN-LEFT: 8px; MARGIN-RIGHT: 8px
}
#footer A:link {
	COLOR: #000
}
#footer A:visited {
	COLOR: #000
}
#footer A.beian {
	COLOR: #9c9b9b; MARGIN-RIGHT: 0px
}
#footer A.a_last {
	POSITION: relative; MARGIN: 0px; TOP: -2px
}
A.f1:link {
	COLOR: #f85050
}
A.f1:visited {
	COLOR: #f85050
}
#footer A.f1:link {
	COLOR: #f85050
}
#footer A.f1:visited {
	COLOR: #f85050
}
A.f2:link {
	COLOR: #108410
}
A.f2:visited {
	COLOR: #108410
}
#footer A.f2:link {
	COLOR: #108410
}
#footer A.f2:visited {
	COLOR: #108410
}
.bottom A:hover {
	COLOR: #f00
}
.sort TH A:hover {
	COLOR: #f00
}
.left TH A:hover {
	COLOR: #f00
}
.usrbar A:hover {
	COLOR: #f00
}
.middle A:hover {
	COLOR: #f00
}
A.f1:hover {
	COLOR: #f00
}
A.f2:hover {
	COLOR: #f00
}
#hao_my_like {
	BORDER-BOTTOM: #cce8b3 1px solid; BORDER-LEFT: #cce8b3 1px solid; LINE-HEIGHT: 24px; MARGIN: 0px auto; WIDTH: 988px; DISPLAY: none; BACKGROUND: #f7fcef 0px 0px; HEIGHT: 24px; FONT-SIZE: 13px; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #cce8b3 1px solid
}
#hao_my_site {
	BORDER-BOTTOM: #cce8b3 1px solid; BORDER-LEFT: #cce8b3 1px solid; LINE-HEIGHT: 24px; MARGIN: 0px auto; WIDTH: 988px; DISPLAY: none; BACKGROUND: #f7fcef 0px 0px; HEIGHT: 24px; FONT-SIZE: 13px; BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #cce8b3 1px solid
}
#hao_more_event {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-LEFT: 3px; WIDTH: 37px; PADDING-RIGHT: 20px; DISPLAY: block; BACKGROUND: url(images/bg.jpg) #fff no-repeat 45px -185px; HEIGHT: 18px; BORDER-TOP: #fff 1px solid; CURSOR: pointer; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 0px
}
#hao_more_popup {
	Z-INDEX: 100; BORDER-BOTTOM: #eee 2px solid; POSITION: absolute; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 0px; WIDTH: 62px; PADDING-RIGHT: 0px; BORDER-RIGHT: #eee 2px solid; PADDING-TOP: 0px
}
#hao_more_popup A {
	PADDING-LEFT: 3px; ZOOM: 1; DISPLAY: block
}
#hao_more_popup A:hover {
	BACKGROUND: #ccc; COLOR: #fff; TEXT-DECORATION: none
}
#hao_more_popup LI {
	BORDER-LEFT: #b0bec7 1px solid; LINE-HEIGHT: 25px; BORDER-RIGHT: #b0bec7 1px solid
}
#hao_more_popup LI.tab_last {
	BORDER-BOTTOM: #b0bec7 1px solid
}
#ads506 A:link {
	COLOR: #687070
}
#ads506 A:visited {
	COLOR: #687070
}
#hao_my_like A {
	COLOR: #444; MARGIN-LEFT: 10px
}
#hao_my_site A {
	COLOR: #444; MARGIN-LEFT: 10px
}
#sugOut {
	Z-INDEX: 100; POSITION: relative
}
#sug {
	BORDER-BOTTOM: #817f82 1px solid; POSITION: absolute; BORDER-LEFT: #817f82 1px solid; DISPLAY: none; FLOAT: left; BORDER-TOP: #817f82 1px solid; TOP: 0px; BORDER-RIGHT: #817f82 1px solid; LEFT: 0px; -moz-user-select: none
}
#sug TR {
	BACKGROUND: #fff
}
#sug TD {
	PADDING-LEFT: 3px; FONT: 14px verdana; HEIGHT: 22px
}
.mo TD {
	BACKGROUND-COLOR: #36c; COLOR: #fff
}
.ml TD {
	BACKGROUND-COLOR: #fff; COLOR: #000
}
#sug_t A:link {
	WIDTH: 100%; DISPLAY: block; COLOR: #000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#sug_t A:visited {
	WIDTH: 100%; DISPLAY: block; COLOR: #000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
#sug_t A:hover {
	WIDTH: 100%; DISPLAY: block; COLOR: #000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.ft18 {
	FONT-SIZE: 14px
}
#hao_search_content TR {
	BACKGROUND: 0px 0px
}
.btn_temple {
	PADDING-LEFT: 22px; PADDING-RIGHT: 3px; DISPLAY: inline-block; BACKGROUND: url(images/theme_logo.gif) no-repeat 4px 5px; COLOR: #666; CURSOR: pointer; -moz-user-select: none
}
#themeLinkTip {
	POSITION: absolute; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 2px; BACKGROUND: url(images/theme_link_tip.gif) no-repeat right 50%; FONT-SIZE: 12px; TOP: 20px; RIGHT: 30px; PADDING-TOP: 5px
}
#themeLinkTip .l {
	POSITION: absolute; WIDTH: 3px; DISPLAY: inline-block; BACKGROUND: url(images/theme_link_tip.gif) no-repeat 0px 0px; HEIGHT: 28px; TOP: 0px; LEFT: 0px
}
.btn_temple_over {
	COLOR: #ff0008; TEXT-DECORATION: underline
}
.btn_temple_out {
	COLOR: #666; TEXT-DECORATION: none
}
#templeBox {
	BORDER-BOTTOM: #74b82e 1px solid; POSITION: relative; BORDER-LEFT: #74b82e 1px solid; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 990px; BACKGROUND: #e6f4d0; OVERFLOW: hidden; BORDER-TOP: #74b82e 1px; BORDER-RIGHT: #74b82e 1px solid; -moz-user-select: -moz-none
}
#templeBoxLoading {
	LINE-HEIGHT: 32px; PADDING-LEFT: 35px; BACKGROUND: url(images/temple_loading.gif) no-repeat; COLOR: #999
}
#templeBoxContent {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
#templeBoxContent .title {
	POSITION: relative; TEXT-ALIGN: right; MARGIN-BOTTOM: -1px
}
#templeBoxContent .title LI {
	PADDING-LEFT: 3px; BACKGROUND: url(images/temple_bg.gif) no-repeat -8px 0px; FLOAT: left; MARGIN-LEFT: 5px; CURSOR: pointer
}
#templeBoxContent .title SPAN.m {
	BORDER-BOTTOM: #74b82e 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT: bold 14px/28px Tahoma; BACKGROUND: #f3fae8; FLOAT: left; HEIGHT: 28px; BORDER-TOP: #add67f 1px solid; PADDING-TOP: 0px
}
#templeBoxContent .title SPAN.r {
	WIDTH: 3px; BACKGROUND: url(images/temple_bg.gif) no-repeat -12px 0px; FLOAT: left; HEIGHT: 30px
}
#templeBoxContent .title LI.cur {
	BACKGROUND: url(images/temple_bg.gif) no-repeat left top; CURSOR: default
}
#templeBoxContent .title LI.cur SPAN.m {
	BORDER-BOTTOM: #fff 1px solid; BACKGROUND: #fff; BORDER-TOP: #74b82f 1px solid
}
#templeBoxContent .title LI.cur SPAN.r {
	BACKGROUND: url(images/temple_bg.gif) no-repeat -4px 0px
}
#templeBoxContent .title .text {
	POSITION: absolute; LINE-HEIGHT: 30px; RIGHT: 15px
}
#templeBoxContent .title .tip {
	LINE-HEIGHT: 30px; BACKGROUND: none transparent scroll repeat 0% 0%; CURSOR: default
}
#templeBoxContent .content_wrap {
	BORDER-BOTTOM: #74b82e 1px solid; BORDER-LEFT: #74b82e 1px solid; BACKGROUND: #fff; HEIGHT: 180px; BORDER-TOP: #74b82e 1px solid; BORDER-RIGHT: #74b82e 1px solid
}
#templeBoxContent .bar_sub {
	POSITION: relative; BACKGROUND: url(images/temple_bg.gif) repeat-x 0px -59px; HEIGHT: 28px; CURSOR: default
}
#templeBoxContent .bar_sub .list_type {
	PADDING-LEFT: 7px; PADDING-TOP: 5px
}
#templeBoxContent .bar_sub .list_type LI {
	PADDING-LEFT: 3px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; CURSOR: pointer
}
#templeBoxContent .bar_sub .list_type LI.list_type_line {
	MARGIN: 0px 5px 0px 1px; COLOR: #73b72c; CURSOR: default
}
#templeBoxContent .bar_sub .list_type SPAN.m {
	PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT: 12px Tahoma; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 15px; COLOR: #73b72c; PADDING-TOP: 3px; _height: 17px; _padding-top: 1px
}
#templeBoxContent .bar_sub .list_type SPAN.r {
	WIDTH: 3px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 18px
}
#templeBoxContent .bar_sub .list_type LI.cur {
	BACKGROUND: url(images/temple_bg.gif) no-repeat 0px -188px; CURSOR: default
}
#templeBoxContent .bar_sub .list_type LI.cur SPAN.m {
	BACKGROUND: #74b82e; COLOR: #fff; FONT-WEIGHT: bold
}
#templeBoxContent .bar_sub .list_type LI.cur SPAN.r {
	BACKGROUND: url(images/temple_bg.gif) no-repeat -4px -188px
}
#templeBoxContent .bar_sub .pagination {
	POSITION: absolute; FONT-FAMILY: Tahoma; COLOR: #999; TOP: 3px; CURSOR: default; RIGHT: 8px
}
#templeBoxContent .bar_sub .pagination .num_cur {
	COLOR: #f30
}
#templeBoxContent .bar_sub .pagination SELECT {
	VERTICAL-ALIGN: middle
}
#templeBoxContent .bar_btn {
	TEXT-ALIGN: center; PADDING-TOP: 5px
}
#templeBoxContent .bar_btn A {
	PADDING-LEFT: 4px; DISPLAY: inline-block; BACKGROUND: url(images/temple_bg.gif) no-repeat -16px 0px; CURSOR: pointer; MARGIN-RIGHT: 5px
}
#templeBoxContent .bar_btn SPAN.m {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT: bold 14px/27px Tahoma; BACKGROUND: url(images/temple_bg.gif) repeat-x 0px -31px; FLOAT: left; HEIGHT: 27px; PADDING-TOP: 0px
}
#templeBoxContent .bar_btn SPAN.r {
	WIDTH: 4px; BACKGROUND: url(images/temple_bg.gif) no-repeat -21px 0px; FLOAT: left; HEIGHT: 27px
}
#previewList .wrap {
	POSITION: relative; MARGIN: 20px auto 0px; OVERFLOW: hidden
}
#previewList UL {
	POSITION: relative; _padding-right: 3px
}
#previewList LI {
	MARGIN: 0px 3px; FLOAT: left; CURSOR: pointer
}
#previewList IMG {
	BORDER-BOTTOM: #e6f4d0 1px solid; BORDER-LEFT: #e6f4d0 1px solid; WIDTH: 135px; DISPLAY: block; MARGIN-BOTTOM: 3px; HEIGHT: 90px; BORDER-TOP: #e6f4d0 1px solid; CURSOR: pointer; BORDER-RIGHT: #e6f4d0 1px solid
}
#previewList .name {
	POSITION: relative; LINE-HEIGHT: 17px; PADDING-LEFT: 19px; DISPLAY: inline-block; BACKGROUND: url(images/temple_bg.gif) no-repeat 0px -207px; HEIGHT: 17px; FONT-SIZE: 14px; OVERFLOW: hidden
}
#previewList .select {
	POSITION: absolute; WIDTH: 16px; BACKGROUND: url(images/temple_bg.gif) no-repeat -8px -188px; HEIGHT: 14px; TOP: 0px; LEFT: 0px
}
#previewList .btn {
	POSITION: absolute; WIDTH: 25px; BACKGROUND: url(images/temple_bg.gif) no-repeat 0px -113px; HEIGHT: 24px; TOP: 120px; CURSOR: pointer
}
#previewList .pre {
	BACKGROUND-POSITION: 0px -163px; CURSOR: default; LEFT: 25px
}
#previewList .next {
	BACKGROUND-POSITION: 0px -88px; RIGHT: 25px
}
#templeBoxContent .list_define {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 8px
}
#templeBoxContent .list_define UL {
	PADDING-BOTTOM: 11px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 11px; _padding: 10px 0
}
#templeBoxContent .list_define .title {
	FONT: bold 14px Tahoma; FLOAT: left; COLOR: #73b72c; CURSOR: default
}
#templeBoxContent .list_define LI {
	BORDER-BOTTOM: #000 1px solid; POSITION: relative; BORDER-LEFT: #000 1px solid; WIDTH: 14px; FLOAT: left; HEIGHT: 14px; BORDER-TOP: #000 1px solid; CURSOR: pointer; MARGIN-RIGHT: 15px; BORDER-RIGHT: #000 1px solid
}
#templeBoxContent .list_define INPUT {
	VERTICAL-ALIGN: bottom
}
#templeBoxContent .list_define LABEL {
	VERTICAL-ALIGN: middle
}
#templeBoxContent .list_define UL .select {
	POSITION: absolute; WIDTH: 18px; BOTTOM: 0px; DISPLAY: inline-block; BACKGROUND: url(images/temple_bg.gif) no-repeat 0px -238px; HEIGHT: 16px; CURSOR: default
}
#templeBoxContent .bg_img_title {
	POSITION: relative; PADDING-LEFT: 15px; COLOR: #aaa; CURSOR: default
}
#templeBoxContent .bg_img_title .tips {
	PADDING-RIGHT: 7px; FONT: bold 14px Tahoma; COLOR: #73b72c
}
#templeBoxContent .bg_img_title .pagination {
	POSITION: absolute; FONT-FAMILY: Tahoma; COLOR: #999; TOP: 0px; RIGHT: 10px

}
#templeBoxContent .bg_img_title .pagination .num_cur {
	COLOR: #f30
}
#templeBoxContent .bg_img_list {
	BORDER-BOTTOM: #e6f4d0 1px solid; BORDER-LEFT: #e6f4d0 1px solid; PADDING-BOTTOM: 10px; MARGIN: 5px 10px 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #e6f4d0 1px solid; BORDER-RIGHT: #e6f4d0 1px solid; PADDING-TOP: 10px
}
#templeBoxContent .bg_img_list .bg_img_wrap {
	POSITION: relative; MARGIN: 0px auto; OVERFLOW: hidden
}
#templeBoxContent .bg_img_list UL {
	POSITION: relative; MARGIN-TOP: -1px; WIDTH: 1859px; LEFT: 0px
}
#templeBoxContent .bg_img_list LI {
	FLOAT: left; HEIGHT: 67px; MARGIN-RIGHT: 12px
}
#templeBoxContent .bg_img_list IMG {
	BORDER-BOTTOM: #e6f4d0 1px solid; BORDER-LEFT: #e6f4d0 1px solid; WIDTH: 64px; DISPLAY: inline-block; HEIGHT: 64px; BORDER-TOP: #e6f4d0 1px solid; CURSOR: pointer; BORDER-RIGHT: #e6f4d0 1px solid
}
#templeBoxContent .bg_img_list .btn {
	POSITION: absolute; WIDTH: 25px; BACKGROUND: url(images/temple_bg.gif) no-repeat; HEIGHT: 24px; TOP: 145px; CURSOR: pointer
}
#templeBoxContent .bg_img_list .pre {
	BACKGROUND-POSITION: 0px -163px; CURSOR: default; LEFT: 30px
}
#templeBoxContent .bg_img_list .next {
	BACKGROUND-POSITION: 0px -88px; RIGHT: 30px
}
#templeBoxContent .bar_add_site {
	LINE-HEIGHT: 28px; PADDING-LEFT: 10px; COLOR: #666
}
#templeBoxContent .bar_add_site SPAN {
	COLOR: #f30
}
#templeBoxContent .bar_add_site .gray {
	COLOR: #666
}
#templeBoxContent .list_add_site {
	MARGIN: 5px; CURSOR: default
}
#templeBoxContent .list_add_site UL {
	WIDTH: 48%; FLOAT: left
}
#templeBoxContent .list_add_site LI {
	PADDING-BOTTOM: 4px; MARGIN: 1px 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #f8fcf1; PADDING-TOP: 4px
}
#templeBoxContent .list_add_site LI SPAN {
	PADDING-LEFT: 15px; FONT: bold 16px Verdana; COLOR: #cbdfab; VERTICAL-ALIGN: middle
}
#templeBoxContent .list_add_site INPUT {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; LINE-HEIGHT: 23px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 1px; WIDTH: 29%; BACKGROUND: url(images/temple_bg.gif) #fff repeat-x 0px -255px; HEIGHT: 23px; VERTICAL-ALIGN: middle; BORDER-TOP: #999 1px solid; CURSOR: text; BORDER-RIGHT: #999 1px solid
}
#templeBoxContent .list_add_site LABEL {
	MARGIN-LEFT: 10px; _padding-top: 3px; _display: inline-block
}
#haoMySite {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 19px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 5px; HEIGHT: 19px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#haoMySite DT {
	PADDING-RIGHT: 5px; FLOAT: left; FONT-WEIGHT: bold
}
#haoMySite DD {
	DISPLAY: inline-block; FLOAT: left
}
#haoMySite A {
	MARGIN-RIGHT: 12px
}
.body_bg_up {
	BACKGROUND-POSITION: center 0px
}
.body_bg_down {
	BACKGROUND-POSITION: center 254px
}