<div class="box l-footer">
    <p class="span-rows box-about">
        <span class="box-about_first"><a href="#">关于我们</a></span>
        <b class="space"></b>
        <span><a href="#">歆语博客</a></span>
        <b class="space"></b>
        <span><a href="#">编程字典</a></span>
        <b class="space"></b>
        <span><a href="#">切切歆语</a></span>
    </p>
    <p class="span-rows box-copyright"><span style="margin:0 4px">绿色经典</span>
        <span><a href="#"> 吉ICP备10002740号 <i class="i-papers"></i></a></span>
    </p>
</div>
</body>
</html>
