<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base target="_blank" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="__PUBLIC__/css/flexslider.css" rel="stylesheet" type="text/css"  />
    <link href="__PUBLIC__/css/reset-common927.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/sug.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/text_common-content_mouseoverout0927.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/extra.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/index.css" rel="stylesheet">

    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
    <title>歆语导航</title>
</head>